<router-outlet></router-outlet>
 <h3> Normal Interpolation without using Pipes</h3> 
<h4>{{title}}</h4>
<p>{{intro}} by {{trainer}}<p> on {{date}}

  <br>--------------------------------------------------------<br>
  <h3> Interpolation using String Pipes</h3> 
  <h3>{{title | uppercase}}</h3>
  <p>{{intro | titlecase}} by {{trainer | lowercase}}<p> on {{date}}

 <br> --------------------------------------------------------<br>
 <h3>Date Pipes</h3>
 Today is {{date}} <br>
 In Long Format <b>{{date | date:'long'}}</b> <br>
 In Short Format <b>{{date | date:'short'}} </b><br>
 In Medium Format <b>{{date | date:'medium'}}</b> <br>
 In Short Date Format <b>{{date | date:'shortDate'}} </b><br>
 In Medium Date Format <b>{{date | date:'mediumDate'}}</b> <br>
 In Long Date Format <b>{{date | date:'longDate'}}</b> <br>
 In Short Time Format <b>{{date | date:'shortTime'}}</b> <br>
 In Medium Time Format <b>{{date | date:'mediumTime'}}</b> <br>
 In Long Time Format <b>{{date | date:'longTime'}} </b><br>

 <h3>Percentage Pipe</h3>
 Percentage is {{percent | percent}}

 <h3>Currency Pipe</h3>
 Amount is {{amount | currency:'INR':false}}<br>
 Amount is {{amount | currency:'INR':true}}<br>

 <h3>Number Pipes</h3>
 The original Number is {{num}}<br>
 The number after passing through a pipe 3.4-6 is {{num | number:'3.4-6'}}<br>

 <h3>Slice Pipe</h3>
 Original Array <b>{{months}}</b><br>
 Sliced Array <b>{{months | slice : 3:7}}</b><br>


